*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .sec-main-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }